<div class="container">
  <h3 class=" text-center" style="display: flex; justify-content: space-between;">
    <span>Messaging</span>
    <span style="cursor: pointer;" (click)="logout()">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </span>
  </h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              </span>
            </div>
          </div>
        </div>
        <div class="inbox_chat">
          <div class="chat_list " [class.active_chat]="contactUser.id == userActive.id"
            *ngFor="let contactUser of contactUsers">
            <div class="chat_people" (click)="changeUserActive(contactUser.id)">
              <div class="chat_img"> <img src="{{contactUser.imageUrl}}" alt="sunil">
                <span class="chat_img-status" *ngIf="contactUser.online"></span>  
              </div>
              <div class="chat_ib">
                <h5>{{contactUser.username}} <span class="chat_date"
                    *ngIf="contactUser.lastMessage != null">{{contactUser.lastMessage.timestamp | date:'short'}}</span>
                </h5>
                <p *ngIf="contactUser.newMessages > 0">{{contactUser.newMessages}} new messages</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <div *ngFor="let message of messages">
            <div class="incoming_msg" *ngIf="message.senderId == userActive.id">
              <div class="incoming_msg_img"> <img src="{{userActive.imageUrl}}" alt="sunil">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{message.content}}</p>
                  <span class="time_date"> {{message.timestamp | date:'short'}}</span>
                </div>
              </div>
            </div>
            <div class="outgoing_msg" *ngIf="message.senderId != userActive.id">
              <div class="sent_msg">
                <p>{{message.content}}</p>
                <span class="time_date" style="text-align: right; margin-right: 16px;"> 
                  {{message.timestamp | date:'short'}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="type_msg-previews">
              <app-images-preview [imagePreviews]="imagePreviews"></app-images-preview>
          </div>
          <div class="input_msg_write">
            <div class="input_msg_write-utils">
              <div class="input_msg_write-utils-upload-images">
                <label for="upload__inputfile"
                  style="
                    display: flex;
                    margin-bottom: 0; 
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;">
                  <input (change)="onImageUploadChange($event)" type="file" multiple="" data-max_length="20" id="upload__inputfile" class="upload__inputfile">
                  <svg viewBox="0 -1 17 17" height="20px" width="20px" class="a8c37x1j ms05siws hr662l2t b7h9ocf4"><g fill="none" fill-rule="evenodd"><path d="M2.882 13.13C3.476 4.743 3.773.48 3.773.348L2.195.516c-.7.1-1.478.647-1.478 1.647l1.092 11.419c0 .5.2.9.4 1.3.4.2.7.4.9.4h.4c-.6-.6-.727-.951-.627-2.151z" fill="#0084ff"></path><circle cx="8.5" cy="4.5" r="1.5" fill="#0084ff"></circle><path d="M14 6.2c-.2-.2-.6-.3-.8-.1l-2.8 2.4c-.2.1-.2.4 0 .6l.6.7c.2.2.2.6-.1.8-.1.1-.2.1-.4.1s-.3-.1-.4-.2L8.3 8.3c-.2-.2-.6-.3-.8-.1l-2.6 2-.4 3.1c0 .5.2 1.6.7 1.7l8.8.6c.2 0 .5 0 .7-.2.2-.2.5-.7.6-.9l.6-5.9L14 6.2z" fill="#0084ff"></path><path d="M13.9 15.5l-8.2-.7c-.7-.1-1.3-.8-1.3-1.6l1-11.4C5.5 1 6.2.5 7 .5l8.2.7c.8.1 1.3.8 1.3 1.6l-1 11.4c-.1.8-.8 1.4-1.6 1.3z" stroke-linecap="round" stroke-linejoin="round" stroke="#0084ff"></path></g></svg>
                </label>
              </div>
            </div>
            <input #textMessageRef  type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="text" 
              (keydown)="enterForSubmit($event)"
            />
            <button (click)="handleSendMessage()" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o"
                aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>